
<app-navigation style="margin-bottom: 40px"></app-navigation>
<div class="col-md-4" *ngFor="let publication of publications">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{publication.title}}
            <button class="btn btn-danger" (click)="deletePublication(publication.id_publication)">
                X
            </button>
        </div>
    </div>

    <img src="{{publication.image}}" class="card-img-top">


    <div class="card-body">
        <p><strong>Ubicación:</strong> {{publication.ubication}}</p>
        <p>{{publication.description}}</p>
        
    </div>
</div>
<div class="col-md-4" *ngFor="let product of products">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{product.title}}
            <button class="btn btn-danger" (click)="deleteProduct(product.id_product)">
                X
            </button>
        </div>
    </div>

    <img src="{{product.image}}" class="card-img-top">

    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            Q{{product.price}}
        </div>
    </div>
    <div class="card-body">
        <p><strong>Ubicación:</strong> {{product.ubication}}</p>
        <p>{{product.description}}</p>
        
    </div>
</div>